
@font-face {
  
  font-family: "3DIsometric"; /* Choose a name for your font family */
  src: local("3DIsometric"), url('/src/assets/fonts/3DIsometric-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Optional: improves font loading performance */
}
html {
  font-family: "VT323", monospace;
  color: #21242a;
  font-weight: 400;
  font-style: normal;
  cursor: url('../../public/cursor.svg'), auto;


}
@import "tailwindcss";

@theme {
  --font-3d: "3DIsometric";
}
.retro-shadow {
  box-shadow: 4px 4px 0px 0 #21242a;
}
.retro-button:hover {
  background-color: #FD64AC !important;
}

.title-1 {
  text-shadow: 1px 1px rgba(33, 36, 42, 0.7), -1px -1px rgba(33, 36, 42, 0.7);
}

.background-home {
  background: url("../../public/background.svg"),#f2b8c3;
  background-size: cover;
  background-position: center;
}
