
@font-face {
  
  font-family: "3DIsometric"; /* Choose a name for your font family */
  src: local("3DIsometric"), url('/src/assets/fonts/3DIsometric-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Optional: improves font loading performance */
}
html {
  font-family: "VT323", monospace;
  color: #21242a;
  /* @apply text-[#21242a]; */
  font-weight: 400;
  font-style: normal;
  --s: 140px; /* control the size*/
  --c1: #ffe0e9;
  --c2: #f9aec1;
  
  --_g: #0000 52%,var(--c1) 54% 57%,#0000 59%; 
  /* background: 
   radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
   radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
   radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
   radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
   var(--c2); */
  /* background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667); */
/*   
  background: url("../../public/background.svg"),#f2b8c3;
  background-size: cover; */
}
@import "tailwindcss";

@theme {
  --font-3d: "3DIsometric";
}
.retro-shadow {
  box-shadow: 4px 4px 0px 0 #21242a;
}
.retro-button:hover {
  background-color: #FD64AC !important;
}

.title-1 {
  text-shadow: 1px 1px rgba(33, 36, 42, 0.7), -1px -1px rgba(33, 36, 42, 0.7);
}

.background-home {
  background: url("../../public/background.svg"),#f2b8c3;
  background-size: cover;
  background-position: center;
}
/* body {
  background: #A4BDF5;
  background-image: linear-gradient(214deg, rgba(164, 189, 245, 1) 0%, rgba(238, 207, 202, 1) 55%, rgba(249, 132, 179, 1) 100%);
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  background-size: cover;
  
  min-height:100%;
} */